<link rel="stylesheet" type="text/css" href="/css/home.css">

<form action="/posts/create" method="post">
    <textarea name="content"></textarea>
    <button type="submit">post</button>
</form>

<div id="posts-container">
    <% for(post of posts) { %>
        <div class="post-div">
            <% if(locals.user && post.user.id == locals.user.id){ %>
                <a href="/posts/destroy/<%= post.id %>">delete</a>
            <% } %>
            <p> <%= post.content %> <br> <small> <%= post.user.name %> </small> </p>
            <form action="/comments/create" method="post">
                <input type="text" name="content">
                <input type="hidden" name="post" value="<%= post._id %>">
                <button type="submit">comment</button>
            </form>

            <div class="comment-div" id="<%= post._id %>">  
                <% for(comment of post.comments){ %>
                    <% if(locals.user && locals.user.id == comment.user.id){ %>
                        <a href="/comments/destroy/<%= comment.id %>">x</a>
                    <% } %>
                    <p> <%= comment.content %> <br> <small> <%= comment.user.name %> </small> </p>
                <% } %>
            </div>
        </div>
    <% } %>
</div>