<script src="/js/user_friends.js"></script>

<p><%= userProfile.name %></p>
<p><%= userProfile.email %></p>
<p><%= userProfile.password %></p>

<img src="<%= userProfile.avatar %>" alt="user avatar">

<% if(locals.user && locals.user.id == userProfile.id){ %>
    <form action="/users/update/<%= user.id %>" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="enter name" required>
        <input type="email" name="email" placeholder="enter new email" required>
        <input type="file" name="avatar" placeholder="profile picture">
        <button type="submit">update</button>
    </form>
    <a href="/users/sign-out">Sign Out</a>
<% } %>

<!-- a user visting someones profile will let them know if they are friends or not -->
<% if(locals.user && locals.user.id != userProfile.id && friendship){ %>
    <a href="/friends/toggle/<%= userProfile.id %>">Remove Friend</a>
<% }else if(locals.user && locals.user.id != userProfile.id && !friendship){ %>
    <a href="/friends/toggle/<%= userProfile.id %>">Add Friend</a>
<% } %>